.universe {
    height: 100%;
    perspective: 50000px;
    translate: 0 -5%;
    position: relative;
}

/* orbit line */
.orbit {
    --enter-delay: calc(.ls + var(--i) * (ls / 6));
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--size, 30dvmin);
    height: var(--size, 30dvmin);
    border-radius: 50%;
    background: var(--orbit-plane-color);
    box-shadow: 0 0 0 var(--orbit-line-thickness) var(--orbit-line-color);
    transform-style: preserve-3d;
    rotate: x var(--pov);
    translate: -50% -40%;
    opacity: 0;
    animation: orbit-appear 1.5s var(--enter-delay, .1s) forwards;
}